.container {
    display: flex;
    flex-wrap: wrap;
    border: 20px solid red;
}

.container > div > img {
    margin-top: 50px;
    height: 400px;
}

.container > div {
    height: 500px;
    width: 350px;
    flex-grow: 5;
    border: 1px solid gray;
    text-align: center;
}

@media screen and (max-width: 1280px) {



}