.container {
    display: flex;
    min-height: 1080px;
    flex-wrap: wrap;
}

.container > div {
    margin: 1%;
    min-height: 100px;
}

#red {
    background-color: red;
    flex-grow: 4;
}

#orange {
    background-color: orange;
    flex-grow: 6;
}

#green {
    background-color: green;
    flex-grow: 10;
    width: 100%;
}

#brown {
    background-color: brown;
    flex-grow: 3;
}

#blue {
    background-color: blue;
    flex-grow: 3;
}

#purple {
    background-color: purple;
    flex-grow: 3;
}